.App {
  text-align: center;
}

.nav-links{
  position: relative;
  right:0;
  color:black;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif

}

.first-div{
  min-height:90vh;
  background-image:url('https://media.istockphoto.com/illustrations/black-3d-abstract-geometrical-background-illustration-id1147842752?k=20&m=1147842752&s=612x612&w=0&h=X90J3yrVMthLtBu8lnfvDK6_1N0ia4s7SH2oJDFoO4M=');
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif;
}

.my-name{
  color: white;
  font-size: 2.5rem;
  position:relative;
  margin:auto;
  top: 16rem;
}

.personal-brand{
  color:aliceblue;
  font-size:1rem;
  max-width: 50%;
  position: relative;
  margin:auto;
  top: 17rem;
 
}

.second-div{
  min-height: 60vh;
}

.fa-react{
  padding:15px;
  width:100rem;
  height:3rem;
}

.icons{
  width:10rem;
  padding: 2.5rem;
  margin-top:5rem;
}
