.App {
  text-align: center;
}

a{
  text-decoration: none;
  color:rgb(127, 161, 182)
}

.nav-bar{
  padding:10px;

}

.nav-links{
  position: relative;
  right:0;
  color:black;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.first-div{
  min-height:85vh;
  background-image:url('https://media.istockphoto.com/illustrations/black-3d-abstract-geometrical-background-illustration-id1147842752?k=20&m=1147842752&s=612x612&w=0&h=X90J3yrVMthLtBu8lnfvDK6_1N0ia4s7SH2oJDFoO4M=');
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif;
  
}

.my-name{
  color: white;
  font-size: 2.5rem;
  position:relative;
  margin:auto;
  top: 14rem;;
}

.personal-brand{
  color:aliceblue;
  font-size:1rem;
  max-width: 50%;
  position: relative;
  margin:auto;
  top: 16rem;
 
}

.second-div{
  min-height: 60vh;
  padding-bottom: 5rem;
}

.fa-react{
  padding:15px;
  width:100rem;
  height:3rem;
}

.icons{
  width:10rem;
  padding: 2.5rem;
  margin-top:5rem;
}

.footer{
  min-height: 4rem;
  background-color: rgb(222, 218, 218);
  opacity: 50%;
  z-index: 1;
  bottom:0;
  position:fixed;
  width:100%

}

.footer-icon{
  width: 3rem;
  margin: 15px 5px 15px;
}


/* RESUME PAGE */

h5, h6, li{
  text-align:justify;
}

h5,h6{
  font-weight:400
}

.resume-body{
  margin:8rem;
  padding: 3rem;
  font-size: 12px;
  width:100vh;
  left:auto;
  border: solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;  
  top:0  ;
  background-color:white;
  border-radius: 5px;;
}



.tee{
  background-color: rgb(203, 201, 201);
  min-height:170vh;
  min-width:100vh;
  z-index:-1;
}

/* ----PROJECTS PAGE---- */

.project-image{
  width:45vh;
  height:30vh;
  margin:10px 0;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-container{
  margin: 3rem 0;
}


/* -----ABOUT ME Page----- */

.about-header{
  min-height: 60vh;
  background-color: rgb(233, 231, 231);
  color:rgb(238, 234, 234);
  
}

.about-body{
  min-height: 35vh;
  background-color: rgb(255, 255, 255);;
  
}

.about-bottom{
  min-height: 35vh;
  background-color: rgb(184, 184, 184);;
}


/* -----MEDIA QUERY------ */
@media only screen and (max-width: 600px) {
  .resume-body{
    padding: 10px;
    font-size: 8px;
    width:100%;
  }

  .tee{
    display:none;
  }

  .footer{
    min-height: 2rem;
    background-color: rgb(222, 218, 218);
    opacity: 50%;
    z-index: 1;
    bottom:0;
    position:fixed;
    width:100%
  }
  
  .footer-icon{
    width: 1.7rem;
    margin: 10px 15px 10px;
  }
}

